// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

.item-link{
    cursor: pointer;
}

.color-style {
    @extend .btn-primary;
}

.provider-icons{
    @extend .btn-primary;
    @extend .btn;
    @extend .col-sm;
    margin-left:5px;
}

.lcc-button {
    /*@extend .lcc-button;*/
    @extend .btn-primary;
    border-radius: 5px;
    
}

.btn {
    margin-left: 5px;
}
